@use "bulma/sass/utilities/mixins";

nav.navbar {

  img.mf-logo {
    max-height: none;
    width: 140px;

    @include mixins.desktop {
      width: 200px;
      margin-bottom: 10px;
    }
  }

  // remove the background-color on hover
  a.navbar-item:hover,
  .navbar-link:hover {
    --bulma-navbar-item-background-l-delta: none;
  }

  .navbar-controls {
    display: flex;
    justify-content: center;
    gap: 5px;

    svg {
      width: 25px;
    }
  }

  > .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;

    @include mixins.desktop {
      padding: 10px;
    }

    .navbar-menu {
      width: 100%;

      @include mixins.desktop {
        justify-content: center;
      }
    }

    .navbar-start,
    .navbar-end {
      flex-grow: 1;
      flex-basis: 0;
    }
    
    .navbar-start {
      display: flex;
      
      .navbar-burger {
        margin-inline-start: 0;
      }
    }

    .navbar-end {
      display: flex;
      justify-content: end;
    }
  }
}