@use '../mixins' as *;

body.page-snap {
  background: rgba(247, 243, 234, 1);
  
  .value-props-set {
    margin-bottom: 50px;
  }

  .collection-card__preface {
    display: block;
    line-height: 1;
  }

  .collection-cards-set.section {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;

  }
}